<div class="box">
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p class="box">{{idea}}</p>
<form class="box">
  {{#each choices as |choice| }}
  <button class="button">{{choice.name}}</button>
  <div class="test" id="test_{{choice.id}}">
    <div class="upvote">
      <a class="upvote" title="This is good stuff. Vote it up! (Click again to undo)"></a>
      <span class="count" title="Total number of votes">{{choice.votes}}</span>
      <a class="downvote" title="This is not useful. Vote it down. (Click again to undo)"></a>
     </div>
  </div> 
  {{/each}}
</form>
</div>

<div id="templates" class="hidden">
  <div class="upvote">
      <a class="upvote" title="This is good stuff. Vote it up! (Click again to undo)"></a>
      <span class="count" title="Total number of votes"></span>
      <a class="downvote" title="This is not useful. Vote it down. (Click again to undo)"></a>
  </div>
</div>
